.u-section-1 .u-sheet-1 {
  min-height: 877px;
}

.u-section-1 .u-image-1 {
  width: 646px;
  height: 489px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -67px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 366px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 3px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 395px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  margin: 45px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  margin: 32px auto 0 184px;
  padding: 0 22px 0 21px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-1 .u-image-1 {
    width: 533px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 340px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 14px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 872px;
  }

  .u-section-1 .u-image-1 {
    width: 671px;
    height: 589px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1037px;
  }

  .u-section-1 .u-image-1 {
    width: 503px;
    height: 469px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 192px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 26px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-1 .u-image-1 {
    width: 314px;
    height: 293px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 463px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 23px 20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 38px;
    margin-bottom: -7px;
    padding-right: 10px;
    padding-left: 9px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 581px;
}

.u-section-2 .u-list-1 {
  margin-top: 87px;
  margin-bottom: 44px;
  grid-template-rows: auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 450px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/2803d6b4a63ba4059ca997469a82b98b4d04a8e92de0636bf332c7e8d196a0f206c50bafa1403968304935cd00317a18e55b973770874956ce0856_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 153px auto 0;
  padding: 23px 48px;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 46px;
  font-size: 1rem;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/a208b103cf3aaae4d82d9386d4f846b550e1873315eeca03f7049acaa84c8d3ce40671bca361423a55ab48264cd1d69c8324d7d33379c88e505ee0_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 153px auto 0;
  padding: 23px 48px;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 46px;
  font-size: 1rem;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/3340b2635b520f2cae4ba6eee50e8fd04b4da095f73a2175d3f325bfa632e1cb55a12b57c16b82521893f2babce5389c2847b106a42b0c50b1b34b_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 153px auto 0;
  padding: 23px 48px;
}

.u-section-2 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 46px;
  font-size: 1rem;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 37px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 457px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 203px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 203px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 203px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 375px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1871px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 50px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1613px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 2px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 204px;
    margin-right: 48px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 71px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 2px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 204px;
    margin-right: 48px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 71px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 2px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 204px;
    margin-right: 48px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 71px;
    margin-right: 0;
  }
}